<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}NeuroXLearn{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
  <link rel="stylesheet" href="/static/css/lms.css" />
  {% block head %}{% endblock %}
</head>
<body class="lms-body">
{% block content %}{% endblock %}
<script src="/static/js/auth-api.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
